.animal-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 300px;
  padding: 20px;
  background-color: antiquewhite;
  border-radius: 12px;
  font-size: 24px;
}

.animal-card-wrapper > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
}
